@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.woff2") format("woff2"), url("../fonts/gotham/Gotham-Book.woff") format("woff"), url("../fonts/gotham/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham/Gotham-Book.svg#Gotham-Book") format("svg"), url("../fonts/gotham/Gotham-Book.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-BookItalic.eot");
  src: url("../fonts/gotham/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/gotham/Gotham-BookItalic.woff") format("woff"), url("../fonts/gotham/Gotham-BookItalic.ttf") format("truetype"), url("../fonts/gotham/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg"), url("../fonts/gotham/Gotham-BookItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Light.eot");
  src: url("../fonts/gotham/Gotham-Light.woff2") format("woff2"), url("../fonts/gotham/Gotham-Light.woff") format("woff"), url("../fonts/gotham/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham/Gotham-Light.svg#Gotham-Light") format("svg"), url("../fonts/gotham/Gotham-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Medium.eot");
  src: url("../fonts/gotham/Gotham-Medium.woff2") format("woff2"), url("../fonts/gotham/Gotham-Medium.woff") format("woff"), url("../fonts/gotham/Gotham-Medium.ttf") format("truetype"), url("../fonts/gotham/Gotham-Medium.svg#Gotham-Medium") format("svg"), url("../fonts/gotham/Gotham-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/Gotham-Bold.eot");
  src: url("../fonts/gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/gotham/Gotham-Bold.woff") format("woff"), url("../fonts/gotham/Gotham-Bold.ttf") format("truetype"), url("../fonts/gotham/Gotham-Bold.svg#Gotham-Bold") format("svg"), url("../fonts/gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }
/************************************************************

					     PROMENLJIVE

************************************************************/
/************************************************************

						  GENERAL

************************************************************/
body, html {
  height: 100%;
  font-family: 'Gotham';
  padding: 0; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container {
  width: 1200px;
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.image {
  width: 100%;
  height: auto;
  overflow: hidden; }

/************************************************************

						  HEADER

************************************************************/
.full-1 {
  background-color: #231F1F;
  width: 100%;
  height: 110px; }
  .full-1 .logo {
    height: 110px; }
  .full-1 .wrapper img {
    margin-top: 20px; }

.lz {
  margin-top: 29px;
  margin-bottom: 30px;
  margin-left: 15px; }

.vb {
  float: right;
  margin-top: 0px; }
  .vb p {
    color: #c49a6c;
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer; }
    .vb p i {
      color: #fff;
      font-size: 18px;
      margin-left: 5px;
      transition: all .5s ease; }
      .vb p i:hover {
        color: #c49a6c; }
  .vb ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
  .vb li {
    display: inline-block; }
  .vb a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease;
    margin-left: 20px; }
  .vb a:hover {
    color: #c49a6c; }

.mz {
  float: left;
  margin-top: 80px; }
  .mz ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
  .mz li {
    display: inline-block; }
  .mz a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all .5s ease; }

[class*="emze"] {
  padding-left: 0; }

[class*="vesti"] {
  padding-right: 0; }

/************************************************************

						NAVIGACIJA

************************************************************/
.navigacija {
  height: 40px;
  width: 1200px; }
  .navigacija ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 9px; }
  .navigacija li {
    display: inline-block; }
  .navigacija a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease; }
  .navigacija a:hover {
    color: #c49a6c; }

#pretraga {
  float: right;
  font-size: 18px; }

.kill {
  display: inline-block; }

i.fa.fa-bars {
  display: none;
  font-size: 18px; }

/************************************************************

						MEGAMENU

************************************************************/
.one {
  background-color: #fff;
  width: 33.333%;
  float: left;
  display: inline-block; }
  .one ul li a {
    line-height: 2.3; }
    .one ul li a:hover {
      color: #c49a6c; }

.two {
  background-color: #fff;
  width: 33.333%;
  float: left;
  display: inline-block; }
  .two ul li a {
    line-height: 2.3; }
    .two ul li a:hover {
      color: #c49a6c; }

.three {
  background-color: #fff;
  width: 33.333%;
  float: left;
  display: inline-block; }
  .three ul li a {
    line-height: 2.3; }
    .three ul li a:hover {
      color: #c49a6c; }

.fa-check {
  color: #fff;
  margin-left: .8em; }

.fa-circle {
  color: #fff;
  font-size: .5em;
  padding-right: 1em; }

.navbar .navbar-inner {
  padding: 0; }
.navbar .nav {
  margin: 0;
  display: table;
  width: 150px;
  height: 24px; }
  .navbar .nav > li {
    display: table-cell;
    width: 1%;
    float: none;
    text-align: center; }
    .navbar .nav > li:nth-child(1) {
      background: #231F1F; }
    .navbar .nav > li:nth-child(2) {
      background: #009EDB; }
    .navbar .nav > li:nth-child(3) {
      background: #0086B9; }
    .navbar .nav > li:nth-child(4) {
      background: #0079A6; }
    .navbar .nav > li:nth-child(5) {
      background: #01729C; }
    .navbar .nav > li:last-child {
      background: #231F1F; }
  .navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px; }
  .navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0; }

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase; }

.menu-large {
  position: static !important; }

.megamenu {
  padding: 20px 0px;
  width: 100%; }
  .megamenu li {
    color: #fff; }
    .megamenu li ul {
      padding: 0;
      margin: 0; }
      .megamenu li ul li {
        list-style: none; }
        .megamenu li ul li a {
          display: block;
          margin-top: 30px;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #fff;
          white-space: normal; }

.dropdown-menu {
  background: #fff;
  border: none; }

@media (max-width: 768px) {
  .navbar .nav > li {
    display: block;
    width: 100%;
    float: none;
    text-align: center; }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }

  .megamenu {
    margin-left: 0;
    margin-right: 0; }
    .megamenu li {
      margin-bottom: 30px; }
      .megamenu li:last-child {
        margin-bottom: 0; }

  .open .dropdown-menu {
    color: #fff; } }
button.navbar-toggler.hidden-sm-up {
  display: none; }

.nav-link {
  padding: 0; }

a.mega {
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: all .5s ease; }

a.mega:hover {
  color: #c49a6c; }

ul.dropdown-menu.megamenu.row {
  width: 1200px;
  border-radius: 0;
  margin-top: 6px;
  border-bottom: 1px solid #000;
  padding-top: 0; }

.double li {
  width: 49%; }

.link-naslov {
  height: 41px;
  padding-top: 9px;
  border-bottom: 1px solid #c49a6c; }
  .link-naslov a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400; }
    .link-naslov a:hover {
      color: #c49a6c; }

/************************************************************

					   GLAVNI SLIDER

************************************************************/
.img-wrapper {
  position: relative; }

[class*="slider"] {
  padding-left: 0;
  padding-right: 0; }

.box {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 450px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6); }
  .box h2 {
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 30px; }
  .box h3 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    margin-bottom: 40px; }
  .box button {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 250px;
    margin-left: 30px;
    border-radius: 0;
    background-color: #231F1F;
    border: none;
    border-bottom: 1px solid #c49a6c;
    transition: all .5s ease; }
    .box button:hover {
      background-color: #fff;
      color: #231F1F; }

/************************************************************

				  NOVI PROIZVODI SLIDER

************************************************************/
.prev {
  position: absolute;
  left: -45px;
  bottom: 220px;
  cursor: pointer; }

.next {
  position: absolute;
  right: -45px;
  bottom: 220px;
  cursor: pointer; }

.novi-proizvodi {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  .novi-proizvodi h2 {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }
  .novi-proizvodi img {
    width: 445px;
    height: 1px;
    background-color: #000; }

.bordura {
  position: absolute;
  border: 1px solid transparent;
  width: 240px;
  height: 334px;
  z-index: -1;
  transition: all .5s ease; }

.img-wrapper2 {
  position: relative;
  transition: all .5s ease; }
  .img-wrapper2:hover .bordura {
    border: 1px solid #000; }
  .img-wrapper2 img {
    margin: 0 auto;
    padding-top: 30px; }
  .img-wrapper2 h3 a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; }
    .img-wrapper2 h3 a:hover {
      color: #c49a6c; }
  .img-wrapper2 p a {
    color: #c49a6c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: all .5s ease; }
    .img-wrapper2 p a:hover {
      color: #000; }

/************************************************************

				  	  PONUDA SLIKE

************************************************************/
[class*="slika1"] {
  padding-left: 0; }

[class*="slika2"] {
  padding-right: 0; }

[class*="slika3"] {
  padding-left: 0; }

[class*="slika4"] {
  padding-right: 7.5px;
  padding-left: 7.5px; }

[class*="slika5"] {
  padding-right: 0; }

.ponuda-slike-veca {
  height: 447.48px;
  overflow: hidden; }

/************************************************************

				  	    BRENDOVI

************************************************************/
[class*="brendovi"] {
  padding-left: 0;
  padding-right: 0; }

.brendovi a img {
  opacity: 0.4;
  transition: all .5s ease; }
  .brendovi a img:hover {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
